.logo__box {
	background-color: #f5f5f5;
	padding: 30px;
	display: grid;
	transition: all 0.3s ease;
	cursor: pointer;
	&:before {
		content: "";
		padding-bottom: 100%;
		display: block;
	}
	&:hover {
		transform: scale(1.1);
		box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
		z-index: 3;
		border-color: #007042 !important;
	}
	.logo {
		width: 100%;
		height: 100%;
		//width: 120px;
		//height: 120px;
		object-fit: contain;
	}
}
.logo__box:before,
.logo {
	grid-area: 1 / 1 / 2 / 2;
}
