.ribbon {
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: absolute;
}

.ribbon::before,
.ribbon::after {
	position: absolute;
	z-index: -1;
	content: "";
	display: block;
	border: 3px solid #e4a11e;
}
.ribbon span {
	text-align: center;
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 12px;
	color: #ffffff;
	text-transform: uppercase;
	position: absolute;
	display: block;
	width: 165px;
	padding: 5px 0;
	background-color: #e4a11e;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	z-index: 4;
}
.ribbon-top-right {
	top: -3px;
	right: -3px;
}
.ribbon-top-right {
	top: -3px;
	right: -3px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
	border-top-color: transparent;
	border-right-color: transparent;
}
.ribbon-top-right::before {
	top: 0;
	left: 0;
}
.ribbon-top-right::after {
	bottom: 0;
	right: 0;
}
.ribbon-top-right span {
	left: -22px;
	top: 30px;
	transform: rotate(45deg);
}
