.inpt {
	box-sizing: border-box;
	width: 122px;
	height: 36px;
	border: 1px solid #e0e1e2;
	border-radius: 2px;
	&__text {
		outline: none;
		width: 50%;
		text-align: center;
	}
	&__button {
		width: 25%;
	}
}
