@import "../../boilerplates/styles/variables";

.swiper {
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
	background: rgba(196, 196, 196, 0.4);
}

.swiper-button-prev {
	border-radius: 0px 7px 7px 0px;
	left: 0;
}

.swiper-button-next {
	border-radius: 7px 0px 0px 7px;
	right: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	color: "white";
	font-size: 18px;
	font-weight: 400;
	color: #fff;
}
.swiper-pagination {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-horizontal .swiper-pagination-bullets {
	bottom: -15px;
}

.swiper-pagination-bullet {
	width: 11px;
	height: 11px;
	background: $medium-grey-color;
	border-radius: 2px;
	opacity: 1;
}
.swiper-pagination-bullet-active {
	width: 14px;
	height: 14px;
	background: $base-color;
	border-radius: 2px;
	opacity: 1;
}
