@mixin hover-white {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
}
@mixin background-img {
	background-size: cover;
	position: relative;
	background-position: center;
	background-attachment: inherit;
}
.popular {
	height: 380px;
	position: relative;
	&--overlay {
		background-color: rgba(0, 0, 0, 0.4);
		width: 100%;
		height: 100%;
	}
	&--text {
		position: absolute;
		color: #fff;
		left: 20px;
		bottom: 5%;
		width: 50%;
	}
	&--samsung {
		background-image: url("https://asset.cloudinary.com/dsx708og4/f761488a466a05607597babc3b7529c0");
		/* no-repeat; */
		@include background-img;
		&:hover::before {
			@include hover-white;
		}
		&:hover .typography {
			color: #2e3438;
			&--p {
				color: #2e3438;
				font-weight: 800;
			}
		}
	}
	&--mi {
		background: url("https://asset.cloudinary.com/dsx708og4/95f4b9a8cc879a43ea39c24146bdd847")
			no-repeat;
		@include background-img;
		&:hover::before {
			@include hover-white;
		}
		&:hover .typography {
			color: #2e3438;
			&--p {
				color: #2e3438;
				font-weight: 800;
			}
		}
	}
	&--apple {
		background: url("https://asset.cloudinary.com/dsx708og4/28f8d503cd939d2d1fec1f6a660b1d16")
			no-repeat;
		@include background-img;
		&:hover::before {
			@include hover-white;
		}
		&:hover .typography {
			color: #2e3438;
			&--p {
				color: #2e3438;
				font-weight: 800;
			}
		}
	}
	&--huawei {
		background: url("https://asset.cloudinary.com/dsx708og4/76eeb997ec59673eb3a581b6fa053e8e")
			no-repeat;
		@include background-img;
		&:hover::before {
			@include hover-white;
		}
		&:hover .typography {
			color: #2e3438;
			&--p {
				color: #2e3438;
				font-weight: 800;
			}
		}
	}
}
