.autocomplete {
	width: 100%;
	border: 1px solid #d4d4d4;
	border-radius: 10px;
	&__input {
		width: 100%;
		border: none;
		margin: 10px 0;
		font-size: 16px;
		padding: 10px 10px 0 10px;
		&:focus {
			outline: none;
		}
	}
}

.suggestions {
	max-height: 200px;
	scrollbar-color: #6969dd #e0e0e0;
	scrollbar-width: thin;
	overflow: hidden visible;
	overflow-y: auto;
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #d4d4d4;
	background-color: #f7f7f7;
	border-radius: 0 0 10px 10px;
}

.suggestions li {
	list-style: none;
	padding: 10px;
	cursor: pointer;
}

.autocomplete li:hover {
	background-color: #d4d4d4;
}

.suggestions::-webkit-scrollbar {
	width: 10px;
}

.suggestions::-webkit-scrollbar-track {
	background-color: rgb(221, 221, 221);
}

.suggestions::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 20px #a0a9af;
}
